div {
    width: 300;
    border: 15px pink;
    padding: 80px;
    margin: 40px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 1rem;

}
body {
    background-image: url("https://i.pinimg.com/564x/c1/92/1d/c1921dd9f73833e5a16dcd9ed0417e72.jpg");
}
.container {
    width: 200px;
    height: 300px;
    background: linear-gradient(
        to right, 
        #ff9e2c 0%,
        #ff9e2c 50%,
        #b6701e 50%, 
        #b6701e 100%
    );
    background: linear-gradient(
        to left,
        pink,
        white
    );
   
} 

.name {
    text-align: center;
}
 
#A {
    display: inline;
}





